name = "gramatike"
compatibility_date = "2026-01-08"
compatibility_flags = ["nodejs_compat"]
pages_build_output_dir = "public"

[[d1_databases]]
binding = "DB"
database_name = "gramatike"
database_id = "02087991-e23d-44cb-af5f-d4815b70eb05"

[[r2_buckets]]
binding = "R2_BUCKET"
bucket_name = "bucket"
