name = "gramatike"
main = "index.py"
compatibility_date = "2025-12-01"

[assets]
directory = "gramatike_app/static"
binding = "ASSETS"

[vars]
ENVIRONMENT = "production"

[[r2_buckets]]
binding = "R2_BUCKET"
bucket_name = "gramatike"

[[d1_databases]]
binding = "DB"
database_name = "gramatike"
database_id = "c22cbe34-444b-40ec-9987-5e90ecc8cc91"
