name = "gramatike"
compatibility_date = "2026-01-08"
compatibility_flags = ["nodejs_compat"]
pages_build_output_dir = "public"

[[d1_databases]]
binding = "DB"
database_name = "gramatike"
database_id = "d0984113-06be-49f5-939a-9d5c5dcba7b6"

[[r2_buckets]]
binding = "R2_BUCKET"
bucket_name = "bucket"
